@import "../../styles/main";

// ------------------------------------------//
// Landing page styles
// ------------------------------------------//
.landing-container {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100%;
  overflow-y: auto;

  @include mobile {
    max-width: 100vw;
  }

  // ----------------------------------------//
  // Navbar styles
  // ----------------------------------------//
  .main-navbar {
    max-width: 100%;
    height: 114px;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 3px 30px $grey-shadow;
    background: $white-color 0 0 no-repeat padding-box;

    @include mobile {
      height: 70px;
    }

    .brand {
      flex: 20%;
      padding-left: 55px;

      @include mobile {
        padding-left: 24px;
      }

      figure {
        img {
          width: 179px;
          height: 52px;

          @include mobile {
            width: 161px;
            height: 46px;
          }
        }
      }
    }

    .nav-items {
      flex: 70%;

      .mobile-bars-container {
        display: none;

        i {
          font-size: 32px;
          color: $text-color;
        }

        @include mobile {
          display: flex;
          justify-content: flex-end;
          padding-right: 30px;
        }
      }

      ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 50px;

        @include mobile {
          display: none;
        }

        li {
          height: 100px;
          margin-top: -32px;
          list-style: none;
          font-family: RobotoCondensed, serif;
          font-size: 18px;
          color: $nav-items-color;
          padding: 40px 20px 0 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          box-sizing: border-box;

          &:hover {
            background-color: $nav-hover-background;
          }

          &.active {
            color: $nav-hover-color;
            text-decoration: underline;
          }
        }
      }
    }
  }

  // ----------------------------------------//
  // Home styles
  // ----------------------------------------//
  .home {
    margin: 0 0 0 0 !important;
    padding-top: 80px;
    padding-left: 78px;
    height: calc(100vh - 114px);
    background-image: url("../../assets/images/home.svg");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: right top;

    @include mobile {
      height: auto;
      padding: 0 0 50px 0 !important;
      background-image: url("../../assets/images/home-mobile.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center top;
    }

    .home-title {
      width: 691px;
      height: 210px;

      @include mobile {
        width: 100%;
        height: 80vh;
        padding: 5%;
        box-sizing: border-box;
      }

      .title {
        font-family: RobotoBoldCondensed, serif;
        font-size: 40px;
        color: $text-color;

        @include mobile {
          display: none;
        }
      }

      .title-mobile {
        display: none;
        width: 100%;
        color: $text-color;
        font-family: RobotoCondensed, serif;
        font-size: 26px;
        text-align: center;

        @include mobile {
          display: block;
        }
      }

      .subtitle {
        font-family: RobotoCondensed, serif;
        font-size: 32px;
        color: $text-color;

        @include mobile {
          margin-top: 95%;
          font-size: 20px;
          text-align: center;
        }
      }
    }

    .home-form {
      width: 678px;
      height: auto;
      padding: 30px;
      background-color: $black-background;
      border-radius: 30px;
      position: relative;

      @include mobile {
        width: 96%;
        margin-left: 2%;
        padding: 10px 10px 20px 10px;
        margin-top: -40px;
        position: relative;
        border-radius: 15px;
        box-sizing: border-box;
      }

      .form-search {
        width: 100%;
        height: 53px;
        padding: 0 10px 0 10px;
        background-color: $white-color;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        @include mobile {
          height: auto;
          display: flex;
          flex-direction: column;
          background-color: transparent;
        }

        .input-search,
        .input-location {
          flex: 40%;
          height: 53px;
          display: flex;
          align-items: center;

          @include mobile {
            flex: 100%;
            width: 100%;
            height: 43px;
            margin-top: 10px;
            border-radius: 30px;
            background-color: $white-color;
          }

          i {
            @extend %input-icon;
          }

          input {
            @extend %general-input;
          }
        }

        .input-search {
          border-right: 1px solid $grey-color;
        }

        .input-location {
          @include mobile {
            input {
              width: 75%;
            }
          }
        }

        button {
          background-color: $blue-color;
          width: 121px;
          @extend %general-button;

          @include mobile {
            margin-top: 10px;
          }

          &.disabled {
            background-color: $disabled-button;
          }
        }
      }

      .title-options {
        height: 33px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $white-color;

        .options-text {
          display: flex;
          flex-direction: row;
          align-items: center;

          p {
            font-family: Roboto, serif;
            font-size: 18px;
            cursor: pointer;
          }

          i {
            margin: 0 20px 0 20px;
          }
        }

        &:after {
          content: "";
          display: inline-block;
          align-items: center;
          width: 50%;
          height: 1px;
          border-bottom: 1px solid $white-color;
          margin: 0 20px 0 20px;

          @include mobile {
            display: none;
          }
        }

        @include mobile {
          flex-direction: column;

          &:before {
            content: "";
            display: inline-block;
            align-items: center;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid $white-color;
            margin: 0 20px 0 20px;
          }
        }
      }
    }

    .form-options {
      width: 100%;
      height: auto;
      z-index: 10000;

      @include mobile {
        margin-top: 20px;
      }

      ul {
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
          list-style: none;
          height: 40px;
          width: 120px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 10px 10px 0 0;
          font-family: RobotoBoldCondensed, serif;
          font-size: 14px;
          color: $white-color;
          cursor: pointer;
        }
      }

      .options-form {
        border-radius: 0 15px 15px 15px;
        padding: 20px 10px 15px 10px;

        .inputs {
          width: 100%;
          display: flex;
          flex-direction: row;
          box-sizing: border-box;

          @include mobile {
            flex-direction: column;
          }

          &.two-inputs {
            .input-item {
              width: 48% !important;

              @include mobile {
                width: 100% !important;
                margin-top: 10px;
              }
            }

            input {
              width: 230px;

              @include mobile {
                width: 75%;
              }
            }
          }

          &.three-inputs {
            .input-item {
              width: 32% !important;

              @include mobile {
                width: 100% !important;
                margin-top: 10px;
              }
            }

            input {
              width: 130px;

              @include mobile {
                width: 75%;
              }
            }
          }

          .input-item {
            margin: 0 5px 0 5px;
            height: 53px;
            @extend %rounded-input-with-icons;
          }
        }

        .button-container {
          margin-top: 15px;
          width: 100%;
          text-align: center;

          button {
            width: 196px;
            height: 48px;
            background-color: $blue-color;
            @extend %general-button;

            &.green-bg {
              background-color: $green-color;
            }
          }
        }
      }
    }
  }

  // ----------------------------------------//
  // Main platform styles
  // ----------------------------------------//
  .main-platform {
    width: 100%;
    background-color: $main-background;
    padding: 100px 80px 80px 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      padding: 50px 0 50px 0;
    }

    .main-title {
      @include mobile {
        text-align: center;
      }

      .title {
        font-family: RobotoCondensed, serif;
        font-size: 36px;
        color: $text-color;
        font-weight: normal;

        @include mobile {
          display: none;
        }
      }

      .title-mobile {
        display: none;
        font-family: RobotoCondensed, serif;
        color: $text-color;
        font-weight: normal;
        font-size: 26px;

        @include mobile {
          display: block;
        }
      }

      .subtitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: RobotoCondensed, serif;
        font-size: 28px;
        font-weight: normal;
        color: $text-color;

        &:before,
        &:after {
          content: "";
          display: inline-block;
          align-items: center;
          width: 100px;
          height: 1px;
          border-bottom: 1px solid $text-color;
          margin: 0 20px 0 20px;
        }

        @include mobile {
          width: 100%;
          font-size: 24px;

          &:before,
          &:after {
            width: 30px;
            margin: 0 10px 0 10px;
          }
        }
      }
    }

    .main-cards {
      display: flex;
      flex-direction: row;

      @include mobile {
        flex-direction: column;
      }

      article {
        flex: 20%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
          margin-bottom: 20px;
        }

        figure {
          width: 220px;
          height: 220px;

          img {
            max-width: 187px;
          }
        }

        h4 {
          font-family: RobotoCondensed, serif;
          font-size: 20px;
          font-weight: normal;
          width: 237px;
          color: $text-color;
          text-align: center;

          @include mobile {
            margin-top: -15px;
          }
        }
      }
    }

    .main-bar {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $text-color;

      @include mobile {
        flex-direction: column;
        padding: 0 20px 0 20px;
      }

      figure {
        img {
          width: 109px;
          height: 37px;

          @include mobile {
            width: 116px;
            height: 39px;
          }
        }
      }

      p {
        font-family: RobotoCondensed, serif;
        color: $white-color;
        font-size: 20px;

        @include mobile {
          text-align: center;
        }
      }
    }
  }

  // ----------------------------------------//
  // Services platform styles
  // ----------------------------------------//
  .services {
    .title {
      text-align: center;
      margin-top: 80px;

      @include mobile {
        margin-top: 50px;
      }

      h3 {
        font-family: RobotoCondensed, serif;
        font-size: 36px;
        color: $text-color;

        @include mobile {
          font-size: 26px;
          margin: 0 20px 0 20px;
        }

        &:nth-child(1) {
          font-weight: normal;
        }

        b {
          @include mobile {
            display: none;
          }
        }
      }
    }

    .services-items {
      padding: 0 80px 0 80px;
      width: 100%;
      box-sizing: border-box;

      @include mobile {
        padding: 30px 20px 0 20px;
      }

      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        article {
          width: 146px;
          height: 146px;
          margin: 0 20px 20px 0;
          border-radius: 15px;
          transition: all .2s ease-in-out;
          cursor: pointer;

          @include mobile {
            width: calc((100% / 3) - 10px);
            height: 97px;
            margin: 0 10px 10px 0;
          }

          &:hover {
            transform: scale(1.1);
          }

          figure {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              height: 70px;

              @include mobile {
                max-height: 38px;
              }
            }

            figcaption {
              margin-top: 10px;
              width: 120px;
              text-align: center;
              font-family: RobotoCondensed, serif;
              font-size: 18px;
              color: $white-color;

              @include mobile {
                margin-top: 0;
                width: 80px;
                font-size: 15px;
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }

  // ----------------------------------------//
  // Awesome items data styles
  // ----------------------------------------//
  .awesome-items {
    margin-top: 100px;
    width: 100%;
    max-width: 100%;
    padding: 100px 0 100px 0;
    background-color: $text-color;

    @include mobile {
      padding: 50px 0 70px 0;
    }

    .row {
      display: flex;
      flex-direction: row;

      @include mobile {
        flex-direction: column;
      }

      &.second {
        margin-top: 2%;

        @include mobile {
          margin-top: 0;
        }
      }

      article {
        width: 49%;
        background-color: $awesome-item-color;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobile {
          width: 98%;
          max-width: 98%;
          margin-top: 30px;
        }

        figure {
          text-align: center;

          @include mobile {
            flex: 10%;
          }

          img {
            height: 50px;

            &[src*="sura"] {
              width: 112px;
              height: 40px;
            }

            @include mobile {
              height: 32px;

              &[src*="sura"] {
                width: 62px;
                height: 22px;
              }
            }
          }

          figcaption {
            background-color: $green-color;
            height: 40px;
            padding: 0 20px 0 20px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: RobotoBoldCondensed, serif;
            font-size: 37px;
            color: $white-color;

            @include mobile {
              height: 20px;
              padding: 0 10px 0 10px;
              font-size: 19px;
            }
          }
        }

        &.left {
          border-radius: 0 100px 100px 0;
          padding: 0 40px 0 40px;
          box-sizing: border-box;

          @include mobile {
            margin-right: 2%;
            padding: 10px 10px 10px 0;
          }
        }

        &.right {
          margin-left: 2%;
          border-radius: 100px 0 0 100px;
          padding: 0 40px 0 40px;
          box-sizing: border-box;

          @include mobile {
            padding: 10px 10px 10px 0;
          }
        }

        p {
          font-family: RobotoCondensed, serif;
          font-size: 22px;
          color: $white-color;

          @include mobile {
            flex: 90%;
            font-size: 15px;
          }
        }
      }
    }
  }

  // ----------------------------------------//
  // News styles
  // ----------------------------------------//
  .news {
    padding: 50px 0 50px 0;
    background-image: url("../../assets/images/grey-circle.png");
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: right top;

    h3 {
      text-align: center;
      font-family: RobotoCondensed, serif;
      font-size: 36px;
      color: $text-color;

      @include mobile {
        font-size: 36px;
        padding: 0 50px 0 50px;
        font-weight: normal;
      }
    }

    .row-news {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0 110px 0 110px;
      box-sizing: border-box;

      @include mobile {
        flex-direction: column;
        padding: 0 25px 30px 25px;
      }

      .card-item {
        flex: 33%;
        margin: 0 10px 0 10px;

        @include mobile {
          margin: 10px 0 10px 0;
        }

        img {
          width: 100%;
          border-radius: 5px;
        }

        .card-bottom {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 2px solid $blue-color;

          p {
            flex: 80%;
            font-family: RobotoBoldCondensed, serif;
            font-size: 17px;
            font-weight: normal;
            color: $blue-color;

            @include mobile {
              font-size: 16px
            }
          }

          a {
            width: 40px;
            height: 40px;
            background-color: $blue-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              color: white;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  // ----------------------------------------//
  // Main cards styles
  // ----------------------------------------//
  .main-card-aliados {
    background-color: $blue-color;
    padding: 50px 0 50px 0;
    text-align: center;

    .title {
      padding: 0 30px 0 30px;
      text-align: center;
      color: $white-color;

      h2 {
        font-size: 36px;
        font-family: RobotoCondensed, serif;

        @include mobile {
          font-size: 26px;
        }
      }

      p {
        font-family: RobotoCondensed, serif;
        font-size: 26px;

        @include mobile {
          display: none;
        }
      }

      .mobil {
        display: none;
        font-family: RobotoCondensed, serif;
        font-size: 22px;

        @include mobile {
          display: block;
        }
      }
    }

    .row {
      width: 100%;
      margin: 20px 0 80px 0;
      padding: 0 80px 0 80px;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;

      @include mobile {
        flex-direction: column;
        margin: 20px 0 40px 0;
        padding: 0 40px 40px 40px;
      }

      .info-card {
        flex: 25%;
        height: 230px;
        margin: 0 20px -40px 20px;
        background-color: $white-color;
        border-radius: 10px 10px 10px 10px;
        color: $text-color;
        text-align: center;

        @include mobile {
          margin: 80px 20px -40px 20px;
          max-height: 230px;
        }

        .card-header {
          top: 0 !important;
          height: 109px;
          width: 100%;
          padding: 15px;
          border-radius: 10px 10px 0 0;
          background-color: $cards-background;
          text-align: center;
          box-sizing: border-box;

          * {
            margin: 0;
            padding: 0;
          }

          h6 {
            font-family: RobotoCondensed, serif;
            font-size: 16px;
            font-weight: normal;
          }

          h4 {
            margin-top: 15px;
            font-size: 22px;
            font-weight: bold;
            font-family: RobotoCondensed, serif;

            &.big-text {
              font-size: 50px;
            }
          }
        }

        .card-footer {
          width: 100%;
          height: 84px;
          margin: 0 !important;
          padding: 0 20px 0 20px;
          text-align: center;
          box-sizing: border-box;

          @include mobile {
            height: 50px;
            max-height: 50px;
          }

          p {
            height: 84px;
            font-family: Roboto, serif;
            font-size: 15.05px;
            color: $text-color;

            @include mobile {
              height: 50px;
              max-height: 50px;
              font-size: 16px;
            }
          }
        }

        button {
          @extend %general-button;
          padding: 0 20px 0 20px;
          background-color: $green-color;

          @include mobile {
            margin-top: 30px;
          }
        }

        &.active {
          background-color: $green-color;

          .card-header {
            background-color: $card-green-header;
          }

          button {
            background-color: $white-color;
            color: $blue-color;
          }
        }
      }
    }

    a {
      font-family: Roboto, serif;
      font-size: 16px;
      color: $white-color;
    }
  }

  // ----------------------------------------//
  // footer styles
  // ----------------------------------------//
  footer {
    background-color: $footer-background;

    @include mobile {
      padding: 50px 0 100px 0;
    }

    .row {
      width: 100%;
      padding: 50px 80px 50px 80px;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;

      @include mobile {
        height: auto;
        padding: 0 20px 50px 20px;
        flex-direction: column;
        align-items: center;
      }

      .first,
      .second {
        flex: 30%;

        @include mobile {
          flex: 100%;
          text-align: center;
        }

        p {
          font-family: RobotoBoldCondensed, serif;
          font-size: 18px;
          color: $footer-title-color
        }

        a {
          width: 100%;
          text-decoration: none;
          font-family: RobotoCondensed, serif;
          font-size: 18px;
          color: $text-color
        }
      }

      .first {
        img {
          width: 120px;
          height: 42px;
          margin-top: 20px;
        }

        @include mobile {
          img {
            display: none;
          }
        }
      }

      .second {
        .social-links {
          display: flex;
          flex-direction: row;

          .social {
            width: 32px;
            height: 32px;
            background-color: $blue-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;

            i {
              color: white;
              font-size: 20px;
            }
          }
        }

        img {
          display: none;

          @include mobile {
            display: block;
            margin-top: 50px;
            width: 200px;
          }
        }
      }

      .actions {
        flex: 40%;
        display: flex;
        justify-content: center;
        align-self: center;

        @include mobile {
          flex: 100%;
          order: -1;
          text-align: center;
        }

        .action-container {
          padding: 20px 30px 30px 30px;
          background-color: $white-color;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-self: center;


          p {
            font-family: RobotoCondensed, serif;
            font-size: 18px;
            color: $text-color;
          }

          button {
            @extend %general-button;
            background-color: $green-color;
            padding: 0 40px 0 40px;
          }
        }
      }
    }
  }
}
