<div class="landing-container">
  <!-- Start navbar -->
  <div class="main-navbar">
    <div class="brand">
      <figure>
        <img src="../../assets/images/brand.svg" alt="mis aliados brand">
      </figure>
    </div>
    <nav class="nav-items">
      <div class="mobile-bars-container">
        <i class="fas fa-bars"></i>
      </div>
      <ul>
        <li (click)="activeLink = 1" [ngClass]="{'active': activeLink === 1}" class="nav-item">Inicio</li>
        <li (click)="activeLink = 2" [ngClass]="{'active': activeLink === 2}" class="nav-item">Categorías</li>
        <li (click)="activeLink = 3" [ngClass]="{'active': activeLink === 3}" class="nav-item">Aliados</li>
        <li (click)="activeLink = 4" [ngClass]="{'active': activeLink === 4}" class="nav-item">Asociados</li>
        <li (click)="activeLink = 5" [ngClass]="{'active': activeLink === 5}" class="nav-item">Blog</li>
        <li (click)="activeLink = 6" [ngClass]="{'active': activeLink === 6}" class="nav-item">Asegura tu aliado</li>
        <li (click)="activeLink = 7" [ngClass]="{'active': activeLink === 7}" class="nav-item">Únete</li>
        <li (click)="activeLink = 8" [ngClass]="{'active': activeLink === 8}" class="nav-item">Ingresa</li>
      </ul>
    </nav>
  </div>
  <!-- End navbar -->

  <!-- Start home -->
  <section class="home">
    <div class="home-title">
      <p class="title">En Mis Aliados conectamos tus <br> necesidades con soluciones expertas.</p>
      <p class="title-mobile">En Mis Aliados <br> conectamos tus necesidades <br> con soluciones expertas.</p>
      <p class="subtitle">Encuentra tu servicio aquí</p>
    </div>

    <div class="home-form">
      <form class="form-search">
        <div class="input-search">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="¿Qué necesitas?">
        </div>
        <div class="input-location">
          <i class="fas fa-map-marker-alt"></i>
          <input type="text" placeholder="¿En qué ciudad?">
          <i class="fas fa-chevron-down"></i>
        </div>
        <button [ngClass]="{'disabled': showSearchOptions}">Buscar</button>
      </form>

      <div class="title-options">
        <div class="options-text">
          <p (click)="showSearchOptions = !showSearchOptions">O Puedes buscar por servicio</p>
          <i *ngIf="!showSearchOptions" class="fas fa-chevron-down"></i>
          <i *ngIf="showSearchOptions" class="fas fa-chevron-up"></i>
        </div>
      </div>

      <div *ngIf="showSearchOptions" class="form-options">
        <ul>
          <li (click)="searchSelected = 1" [ngClass]="{'green-bg': searchSelected === 1}">Virtuales</li>
          <li (click)="searchSelected = 2" [ngClass]="{'blue-bg': searchSelected === 2}">Locativos</li>
          <li (click)="searchSelected = 3" [ngClass]="{'purple-bg': searchSelected === 3}">Belleza</li>
          <li (click)="searchSelected = 4" [ngClass]="{'orange-bg': searchSelected === 4}">Tecnología</li>
        </ul>

        <ng-container [ngSwitch]="searchSelected">
          <ng-container *ngSwitchCase="1">
            <ng-container *ngTemplateOutlet="virtual"></ng-container>
          </ng-container>

          <ng-container *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="locatives"></ng-container>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <ng-container *ngTemplateOutlet="beauty"></ng-container>
          </ng-container>

          <ng-container *ngSwitchCase="4">
            <ng-container *ngTemplateOutlet="technology"></ng-container>
          </ng-container>
        </ng-container>

        <ng-template #virtual>
          <form class="options-form green-bg">
            <div class="inputs two-inputs">
              <div class="input-item">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Categoría">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="input-item">
                <i class="fas fa-tools"></i>
                <input type="text" placeholder="Servicio">
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>

            <div class="button-container">
              <button>Buscar</button>
            </div>
          </form>
        </ng-template>

        <ng-template #locatives>
          <form class="options-form blue-bg">
            <div class="inputs three-inputs">
              <div class="input-item">
                <i class="fas fa-map-marker-alt"></i>
                <input type="text" placeholder="Ciudad">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="input-item">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Profesional">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="input-item">
                <i class="fas fa-tools"></i>
                <input type="text" placeholder="Servicio">
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>

            <div class="button-container">
              <button class="green-bg">Buscar</button>
            </div>
          </form>
        </ng-template>

        <ng-template #beauty>
          <form class="options-form purple-bg">
            <div class="inputs two-inputs">
              <div class="input-item">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Categoría">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="input-item">
                <i class="fas fa-tools"></i>
                <input type="text" placeholder="Servicio">
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>

            <div class="button-container">
              <button>Buscar</button>
            </div>
          </form>
        </ng-template>

        <ng-template #technology>
          <form class="options-form orange-bg">
            <div class="inputs two-inputs">
              <div class="input-item">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Categoría">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="input-item">
                <i class="fas fa-tools"></i>
                <input type="text" placeholder="Servicio">
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>

            <div class="button-container">
              <button>Buscar</button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </section>
  <!-- End home -->

  <!-- Start main platform -->
  <section class="main-platform">
    <div class="main-title">
      <h2 class="title">
        Somos una plataforma que busca <b>conectar</b> de manera rápida y <br>
        segura a <b>Aliados expertos</b> que solucionan tus necesidades.
      </h2>
      <h2 class="title-mobile">
        Somos una plataforma que <br> busca <b>conectar</b> de manera <br> rápida y
        segura a <b>Aliados <br> expertos</b> que solucionan tus <br> necesidades.
      </h2>
      <h3 class="subtitle">¿Cómo funciona Mis Aliados?</h3>
    </div>

    <div class="main-cards">
      <article>
        <figure>
          <img src="../../assets/images/misaliados-platform-1.png" alt="">
        </figure>
        <h4>Encuentra los Aliados que pueden ayudarte según tu necesidad.</h4>
      </article>

      <article>
        <figure>
          <img src="../../assets/images/misaliados-platform-2.png" alt="">
        </figure>
        <h4>Envía tu solicitud de cotización a los Aliados que quieras.</h4>
      </article>

      <article>
        <figure>
          <img src="../../assets/images/misaliados-platform-3.png" alt="">
        </figure>
        <h4>Elige la cotización que se ajusta a lo que buscas. </h4>
      </article>

      <article>
        <figure>
          <img src="../../assets/images/misaliados-platform-4.png" alt="">
        </figure>
        <h4>¡Contrata tu servicio con un Aliado experto!</h4>
      </article>
    </div>

    <div class="main-bar">
      <figure>
        <img src="../../assets/images/sura-logo-white2.png" alt="">
      </figure>
      <p>
        Todos los servicios que realices a través de Mis Aliados tienen el respaldo <br>
        SURA, con pólizas que aseguran al
        independiente y al trabajo contratado.
      </p>
    </div>
  </section>
  <!-- End main platform -->

  <!-- Start services -->
  <section class="services">
    <div class="title">
      <h3>
        Estos son los servicios más buscados <br>
        <b>¡Cotiza ahora con nuestros aliados!</b>
      </h3>
    </div>

    <div class="services-items">
      <div class="row">
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-1.png" alt="">
            <figcaption>Jardinería</figcaption>
          </figure>
        </article>
        <article class="green-bg">
          <figure>
            <img src="../../assets/images/servicio-2.png" alt="">
            <figcaption>Arreglos de tubería</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-3.png" alt="">
            <figcaption>Humedades</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-4.png" alt="">
            <figcaption>Arreglo de lavadoras</figcaption>
          </figure>
        </article>
        <article class="purple-bg">
          <figure>
            <img src="../../assets/images/servicio-5.png" alt="">
            <figcaption>Manicure</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-6.png" alt="">
            <figcaption>Iluminación</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-7.png" alt="">
            <figcaption>Enchape de baños</figcaption>
          </figure>
        </article>
        <article class="purple-bg">
          <figure>
            <img src="../../assets/images/servicio-8.png" alt="">
            <figcaption>Depilación corpora</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-9.png" alt="">
            <figcaption>Ayudas en casa</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-10.png" alt="">
            <figcaption>Cerrajería</figcaption>
          </figure>
        </article>
        <article class="purple-bg">
          <figure>
            <img src="../../assets/images/servicio-11.png" alt="">
            <figcaption>Barbería</figcaption>
          </figure>
        </article>
        <article class="green-bg">
          <figure>
            <img src="../../assets/images/servicio-12.png" alt="">
            <figcaption>Trabajos de Pintura</figcaption>
          </figure>
        </article>
        <article class="orange-bg">
          <figure>
            <img src="../../assets/images/servicio-13.png" alt="">
            <figcaption>Reparación computadores</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-14.png" alt="">
            <figcaption>Mantenimiento neveras</figcaption>
          </figure>
        </article>
        <article class="purple-bg">
          <figure>
            <img src="../../assets/images/servicio-15.png" alt="">
            <figcaption>Maquillaje</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-16.png" alt="">
            <figcaption>Restauración muebles</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-17.png" alt="">
            <figcaption>Redes de gas</figcaption>
          </figure>
        </article>
        <article class="blue-bg">
          <figure>
            <img src="../../assets/images/servicio-18.png" alt="">
            <figcaption>Instalaciones eléctricas</figcaption>
          </figure>
        </article>
      </div>
    </div>
  </section>
  <!-- End services -->

  <!-- Start awesome data -->
  <section class="awesome-items">
    <div class="row">
      <article class="left">
        <figure>
          <img src="../../assets/images/empleabilidad.png" alt="">
          <figcaption>54%</figcaption>
        </figure>
        <p>
          Con tu solicitud, apoyas a que la
          empleabilidad de los independientes
          aumente en un 54%
        </p>
      </article>
      <article class="right">
        <figure>
          <img src="../../assets/images/sostenimientos.png" alt="">
          <figcaption>4567</figcaption>
        </figure>
        <p>
          Al contratar con Mis Aliadas
          aportas al sostenimientos económico
          de alrededor de 4567 Familias
        </p>
      </article>
    </div>

    <div class="row second">
      <article class="left">
        <figure>
          <img src="../../assets/images/colombia-formacion.png" alt="">
          <figcaption>44%</figcaption>
        </figure>
        <p>
          El 44% de la población colombiana trabaja
          como independiente. Con el impulso de la
          formalización, construimos país.
        </p>
      </article>
      <article class="right">
        <figure>
          <img src="../../assets/images/sura-logo-white.png" alt="">
        </figure>
        <p>Contratando en Mis Aliados, obtienes el
          respaldo SURA para proteger a nuestros
          independientes y asegurar los trabajos.
        </p>
      </article>
    </div>
  </section>
  <!-- End awesome data -->

  <!-- Start news -->
  <section class="news">
    <h3 class="title">¡Entérate de lo nuevo de Mis Aliados!</h3>

    <div class="row-news">
      <div class="card-item">
        <img src="../../assets/images/card1.png" alt="">
        <div class="card-bottom">
          <p>Cada cuanto debes hacerle <br> mantenimiento a las tuberías de tu hogar</p>
          <a><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="card-item">
        <img src="../../assets/images/card2.png" alt="">
        <div class="card-bottom">
          <p>Cada cuanto debes hacerle <br> mantenimiento a las tuberías de tu hogar</p>
          <a><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="card-item">
        <img src="../../assets/images/card3.png" alt="">
        <div class="card-bottom">
          <p>Cada cuanto debes hacerle <br> mantenimiento a las tuberías de tu hogar</p>
          <a><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End news -->

  <!-- Start cards plans -->
  <section class="main-card-aliados">
    <div class="title">
      <h2>¿Ya tienes un independiente de confianza?</h2>
      <p>
        Aún si trabajas con alguien que no está en Mis Aliados, puedes usar el respaldo y <br>
        garantía SURA para protegerlo y asegurar su trabajo. Conoce las opciones:
      </p>
      <p class="mobil">
        Aún si trabajas con alguien que no está en Mis Aliados, puedes usar el respaldo y
        garantía SURA para protegerlo y asegurar su trabajo. Conoce las opciones:
      </p>

    </div>

    <div class="row">
      <article class="info-card">
        <div class="card-header">
          <h6>Seguro de</h6>
          <h4>ACCIDENTES <br> PERSONALES</h4>
        </div>
        <div class="card-footer">
          <p>El independiente estará cubierto por lesiones personales que puedan ocurrirle durante el servicio.</p>
        </div>
        <button class="btn-green">Seleccionar</button>
      </article>

      <article class="info-card">
        <div class="card-header">
          <h6>Seguro de</h6>
          <h4>DAÑOS A <br> TERCEROS</h4>
        </div>
        <div class="card-footer">
          <p>En caso de tener un incidente o daño a terceros, el independiente podrá responder. </p>
        </div>
        <button class="btn-green">Seleccionar</button>
      </article>

      <article class="info-card">
        <div class="card-header">
          <h6>Seguro de</h6>
          <h4>RESPONSABILIDAD <br> DEL CONTRATANTE</h4>
        </div>
        <div class="card-footer">
          <p>Cubrimiento al independiente si le sucede algo durante la prestación del servicio. </p>
        </div>
        <button class="btn-green">Seleccionar</button>
      </article>

      <article class="info-card active">
        <div class="card-header">
          <h6>Paquete de seguros</h6>
          <h4 class="big-text">360°</h4>
        </div>
        <div class="card-footer">
          <p>El independiente estará cubierto por lesiones personales que puedan ocurrirle durante el servicio</p>
        </div>
        <button class="btn-green">Seleccionar</button>
      </article>
    </div>
    <a href="" class="all">Ver todos los seguros</a>
  </section>
  <!-- End cards plans -->

  <!-- Start footer -->
  <footer>
    <div class="row">
      <div class="first">
        <p>Mis aliados</p>
        <a href="">Términos y condiciones</a><br>
        <a href="">Políticas de privacidad</a><br>
        <a href="">Asociados</a><br>
        <a href="">Clausulados</a><br>
        <a href="">Contáctanos</a><br>

        <img src="./../../assets/images/footer.svg" alt="">
      </div>
      <div class="second">
        <p>Ayuda</p>
        <a href="">Preguntas frecuentes</a> <br>
        <a href="">¿Cómo hacer una solicitud?</a>

        <p>Nuestras redes</p>
        <div class="social-links">
          <a class="social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="social" href=""><i class="fab fa-twitter"></i></a>
          <a class="social" href=""><i class="fab fa-instagram"></i></a>
          <a class="social" href=""><i class="fab fa-youtube"></i></a>
          <a class="social" href=""><i class="fab fa-whatsapp"></i></a>
        </div>

        <img src="./../../assets/images/footer.svg" alt="">
      </div>

      <div class="actions">
        <div class="action-container">
          <p>Ser parte de nuestra comunidad es muy fácil. ¡Y gratis!</p>
          <button>Convertirme en un Aliado</button>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer -->
</div>

