@import "variables";

%input-icon {
  font-size: 20px;
  color: $grey-color;
  margin: 0 10px 0 10px
}

%general-input {
  height: 40px;
  border: none;

  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    color: $form-placeholder-color;
    font-family: Roboto, serif;
    font-size: 17px;
  }
}

%general-button {
  height: 40px;
  border: none;
  border-radius: 50px;
  font-size: 23px;
  font-family: RobotoBoldCondensed, serif;
  color: $white-color;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

%rounded-input-with-icons {
  display: flex;
  align-items: center;
  background-color: $white-color;
  border-radius: 50px;

  i {
    @extend %input-icon;
  }

  input {
    @extend %general-input;
  }
}
