// ------------------------------------------//
// Colors
// ------------------------------------------//
$green-color: #8ED32D;
$blue-color: #05ACC5;
$purple-color: #B29DCB;
$orange-color: #EAAC58;
$nav-hover-color: #8FD600;
$nav-hover-background: #00ABC922;
$nav-items-color: #818585;
$text-color: #595959;
$black-background: #626262;
$disabled-button: #C1C1C1;
$grey-color: #808080;
$form-placeholder-color: #848484;
$main-background: #F2F2F2;
$awesome-item-color: #7A7A7A;
$cards-background: #E6E6E6;
$card-green-header: #8CC33E;
$footer-title-color: #A3A3A3;
$footer-background: #F1F3F5;
$grey-shadow: #00000014;
$white-color: #FFFFFF;

$square-border: 1px solid black;

// ------------------------------------------//
// Responsive media queries
// ------------------------------------------//
$desktop-media-query: "(min-width: 1024px)";
$tablet-media-query: "(min-width: 768px) and (max-width: 1023px)";
$phone-media-query: "(min-width: 320px) and (max-width: 767px)";
