@import "styles/main";

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto.ttf");
}

@font-face {
  font-family: RobotoCondensed;
  src: url("assets/fonts/RobotoCondensed.ttf");
}

@font-face {
  font-family: RobotoBoldCondensed;
  src: url("assets/fonts/RobotoBoldCondensed.ttf");
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.green-bg {
  background-color: $green-color;
}

.blue-bg {
  background-color: $blue-color;
}

.purple-bg {
  background-color: $purple-color;
}

.orange-bg {
  background-color: $orange-color;
}
